[submodule "users"]
	path = users
	url = https://github.com/grupo1-taller2-2022c2/users.git
	branch = main
[submodule "api_gateway"]
	path = api_gateway
	url = https://github.com/grupo1-taller2-2022c2/api_gateway.git
	branch = main
[submodule "backoffice-front"]
	path = backoffice-front
	url = https://github.com/grupo1-taller2-2022c2/backoffice-front.git
	branch = main
[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/grupo1-taller2-2022c2/mobile-app.git
	branch = main
